
// For the Footer that appears at the bottom of every page

@import "_var.sass"
@import "_mixins.sass"
@import "_functions.sass"

footer
    background: $brandColor
    margin-top: 70px
    color: $backgroundColor
    text-align: center
    a
        color: $backgroundColor
    .social
        +font-bold
        font-size: 0px
        span
            display: inline-block
            margin: 0px 32px
            font-size: 15px
        span,
        a
            vertical-align: middle
        a
            display: inline-block
            margin: 0px 18px 0px 0px
            &:last-of-type img
                width: 25px
                height: 25px
        img
            width: 20px
            height: 20px
            opacity: 0.63
            &:hover
                opacity: 1.0
    .logo-container
        padding: 36px 0px 21px 0px
        img
            width: 190px
    .footer-nav
        background: $brandAccent
        margin-top: 28px
        font-size: 12px
        line-height: 41px
        a:after
            content: '|'
            display: inline-block
            margin: 0px 9px 0px 13px
        a:last-of-type:after
            content: ''
