
// Utility classes that give generally common styling and can be used in many places

@import "_var.sass"
@import "_mixins.sass"
@import "_functions.sass"

.hide
    display: none

.caps
    text-transform: uppercase

.well
    +font-bold
    display: flex
    align-items: center
    justify-content: center
    background: $wellColor
    border-radius: 7px
    padding: 16px

.separator
    display: inline-block
    width: 2px
    height: 100%
    min-height: 55px
    background: rgba(0, 0, 0, 0.04)
    margin: 0px 30px

.alert
    background: #777
    padding: 25px
    color: $backgroundColor
    font-size: 18px
    line-height: 25px
    text-align: center
    &-danger
        background: #F1830E
        a
            color: #F7FD00
