
// Utility classes that give generally common styling and can be used in many places

@import "_var.sass"
@import "_mixins.sass"
@import "_functions.sass"

.hide
    display: none

.caps
    text-transform: uppercase

.well
    +font-bold
    display: flex
    align-items: center
    justify-content: center
    background: $wellColor
    border-radius: 7px
    padding: 16px

.separator
    display: inline-block
    width: 2px
    height: 100%
    min-height: 55px
    background: rgba(0, 0, 0, 0.04)
    margin: 0px 30px

.alert
    background: #777
    padding: 25px
    color: $backgroundColor
    font-size: 18px
    line-height: 25px
    text-align: center
    &-danger
        background: #F1830E
        a
            color: #F7FD00

$card-margin: 9px
$card-radius: 10px
.card
    display: inline-block
    width: calc(33.3333% - #{$card-margin * 2})
    border-radius: $card-radius
    margin: 10px $card-margin
    padding: 8px 0px 0px 0px
    font-size: 18px
    text-align: left
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3)
    vertical-align: top

.card-header
    +font-light
    display: flex
    align-items: center
    justify-content: center
    height: 96px
    border-bottom: 2px solid #ECECEC
    margin: 0px 18px
    font-size: 26px
    text-align: center

.card-footer
    background: $wellColor
    border-radius: 0px 0px $card-radius $card-radius
    padding: 29px 47px
    font-size: 13px
    .half
        margin-top: 15px
    .half:nth-of-type(1),
    .half:nth-of-type(2)
        margin-top: 0px

.phone-icon
    width: 28px
    height: 28px
    background: $brandAccent
    border-radius: 50%
    margin: 0px 13px 0px 0px
    padding: 7px

.email-icon
    width: 15px
    height: 15px
    margin: 0px 8px 0px 0px
    vertical-align: -1px

.certification-icon
    max-width: 13px
    max-height: 13px
    margin: 0px 6px 0px 0px
    vertical-align: bottom
