
// Supplies mixins and variables that other .scss files can call

$commonFont: 'Open Sans', sans-serif

$backgroundColor: #FFF     // white
$brandColor: #083D8C       // navy blue
$brandAccent: #216DDF      // bright blue
$primaryTextColor: #3F3F3F // dark gray
$wellColor: #F6F6F6        // soft gray
$altColor: #02C7C6         // aqua
